* {
	font-family: arial;
}
.email {
	margin-top: 50px;
}
.title {
	box-sizing: border-box;
	text-transform: uppercase;
	background-color: #01b3b3;
	color: white;
	height: 25px;
	width: 150px;
	font-size: 12px;
	text-align: center;
	/*margin-bottom: 25px;*/
	padding: 6px;
	position: absolute;
	margin-left: 29px;
	margin-top: -4px;

}
.but {
	box-sizing: border-box;
	text-transform: uppercase;
	background-color: #01b3b3;
	color: white;
	height: 45px;
	width: 260px;
	font-size: 16px;
	border-color: #01b3b3;
	border-radius: 3px;
	border: none;
}
.star {
	color: #01b3b3;
}
form label {
	font-size: 12px;
	font-weight: bold;
}
form input {
	font-size: 12px;
	font-weight: 400;
	width: 247px;
/*	height: 29px;*/
	padding-left: 12px;
	/*margin-top: 16px;*/
	/*margin-bottom: 19px;*/
	border-color: #cfdede;
	border-width: 2px;
	border: 1px solid #cfdede;
	margin-left: -1px;
	background: transparent;

}
#int1 {
	margin-top: 9px;
	margin-bottom: 13px;
	font-style: italic;
	height: 29px;
	background: transparent;
}
#form2 {
	margin-top: 13px;
	margin-bottom: 13px;
	height: 28px;
	background: transparent;
}
#form3 {
	margin-top: 12px;
	height: 28px;
	background: transparent;
}
button {
	margin-top: 32px;
	
}
.block {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	width: 260px;
	block: 370px;
	position: relative;
	border: 1px solid transparent;*/
}
.row {
	width: 320px;
	height: 370px;
	margin-top: 0px;
	/*border: 1px solid black;*/
	background: white;
	position: absolute;
}
#row {
	background: white;
}
.container {
	margin-left: 125px;
	margin-right: 125px;
	margin-top: 100px;
	margin-bottom: 100px;
	
}
body {
	/*background: lightgrey;*/
	width: 570px;
	height: 570px;
	position: relative;
	border: 1px solid black;
	background: lightgray;
}
.bg {
	position: absolute;
	float: left;
	
}
