@import "../css/normalize.css";
@import "../../node_modules/swiper/dist/css/swiper.min.css";

@import "../fonts/Montserrat/stylesheet.css";
@import "../fonts/BebasNeue/stylesheet.css";


::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-button {  width: 0px; height: 0px; background-color: #fff; }
::-webkit-scrollbar-track {  background-color: #999; }
::-webkit-scrollbar-track-piece { background-color: #ffffff; }
::-webkit-scrollbar-thumb { height: 50px; background-color: #e26d1c; border-radius: 0px; }
::-webkit-scrollbar-corner { background-color: #999; }
::-webkit-resizer { background-color: #c4c4c4; }