img{
	display: block;
	margin: 0 auto;
}
.item{
	height: 40rem;
}
.fotorama{
	display: block;
	width: 50%;
	margin: 2rem auto;
	background: black;
}
.fotorama__fullscreen-icon{
	border: 5px solid red;
}