.floatleft{
	float: left;
}
.floatright{
	float: right;
}
.clearfix::after {
	content: "";
	display: table;
	width: 100%;
	clear: both;
}
.width100{
	width: 100%
}
.ul_none_dec{
	text-decoration: none;
}
@media (min-width: 0px) and (max-width: 320px) {
	body{
		font-size: 1rem;
	}
	.forma1{
		padding-top: 1rem;
		margin-right: 0.1rem;	
	}
	.layer{
		margin-left: 0.2rem;
	}
	.foto_otel{
		float: left;
		width: 43%;
		margin: 1%;	
	}
	.otel_descr{
		float: right;
		width: 53%;
		height: 100%;
		margin: 1%;
	}
	.mr_block_otel{
		margin-top: 0.5rem;
	}
	.text_90{
		width: 90%;
		margin-left: 0.2rem;
	}
	.phone_marg{
		display: block;
		margin-bottom: 0.5rem;
		margin-left: 1.3rem;
		margin-top: 0.5rem;
		font-size: 0.7rem;
		padding-top: 5px;
	}
	.invisible{
		visibility: hidden;
	}
	.bgf{
		background-color: #e6e2e7;
	}
	.bgf2{
		background: red;
	}
	.appmgr{
		margin: 0.4rem;
		float: right;

	}
	.mr{
		margin-right: 1rem;
	}
	.biginvis{
		visibility: hidden;
		float: left;
		width: 0%;
		height: 0;
	}
	.masterCard{
		visibility: none;
		width: 0%;
		/*не пашет*/
	}
}
@media (min-width: 321px) {
	.smalinvis{
		visibility: hidden;
		float: left;
		width: 0%;
		height: 0;
	}
	.menu{
		padding: 0;
		margin: 0;
		display: block;
		box-sizing: border-box;
    }
    .menu li{
		float: left;
		display: block;
		margin: 0px;
		padding: 0px;
		vertical-align: center;
	}
	.menu a{
		color: #000;
		text-decoration: none;
	}
	.menu a:link, a:visited{
		text-decoration: none;
		background-color: white;
		color: purple;
		display: block;
		width: 80px;
		height: 30px;
		text-align: center;
		margin: 0px;
	/*padding: 0px;*/
		padding-top: 12px;
		padding-bottom: 0px;
	}
	.menu a:hover, a:active{
		background-color: purple;
		color: white;
	}
	body{
		font-size: 1.2rem;
	}
	.shadow{
		background-color: #efefef;
		float: left;
		width: 100%
	}	
	.left_block_width{
		width: 31%;
		display: block;
		/*background: gray;*/
		border: 1px solid blue;
		float: left;
	}
	.right_block_width{
		width: 68%;
		display: block;
		/*background: yellow;*/
		border: 1px solid blue;
		float: right;
	}
	.foleft{
		float: left;
		width: 35%;
	}
	.otel_descr_big{
		float: right;
		width: 65%;
	}
	.leftbig{
		float: left;
	}
	.rigtbig{
		float: right;
	}
	.leftfooter{
		float: left;
		width: 33%
	}
	.rightfooter{
		float: right;
		width: 33%;
	}
	.br{
		word-wrap: break-word;
	}
	.blcenter{
		display: table-cell;
		text-align: center;
		margin: auto;
	}
	.clear-both{
		clear: both;
		width: 100%;
	}
	.marginTop10px{
		margin-top: 10px;
	}

}
